= render 'layouts/header'
.container
  .vertical-container
    .item-container
      = render partial: 'products/product_all_information', locals: { product: @product, images: @images }

      =link_to "商品の編集", edit_product_path(@product), class: "item-container__purchase-btn"
      %p or
      =link_to "出品を停止する", root_path, class: "item-container__purchase-btn"

      =link_to 'この商品を削除する', listing_path, method: :delete, class: "item-container__purchase-btn--sold"


    .show-page-comments
      %form
        %p.show-page-comments__warning 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input.show-page-comments__text{type:"textarea"}
        %input.show-page-comments__submit-btn{type: "submit", value: "コメントする", style: "font-size:20px"}
